.newDiv{
    margin: 5px;
    height: 200px;
    background-color: blue;
    text-align: center;
    font-size: large;
}

/* This is a change/*

/* This is another change */

/* This is the first version */

/*This is the second version */